* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

/* Header
======================== */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  color: #fff;
  letter-spacing: 2px;
}

.header__logo {
  font-size: 20px;
}

/* Nav
======================== */

.nav {
  display: flex;
}

.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
}

.nav__link:first-child {
  margin-left: 0;
}

/* Intro
======================== */

.intro {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/apples.jpg) no-repeat center / cover;
  height: 850px;
}

.intro__inner {
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.intro__title {
  margin-top: 150px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 72px;
  font-weight: 300;
}

.intro__title span {
  font-size: 110px;
  font-weight: 400;
}

.intro__subtitle {
  font-size: 16px;
  font-weight: 300;
}

/* Button
======================== */
.btn {
  display: inline-block;
  margin-top: 200px;
  padding: 14px 90px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
}

/* Description
======================== */

.description {
  margin: 150px 0;
  display: flex;
  justify-content: space-between;
}

.description__left {
  font-size: 22px;
  width: 35%;
  margin-right: 100px;
}

.description__right {
  width: 45%;
  font-size: 14px;
}

/* Main
======================== */

.main {
  background-color: #f3f3f3;
  padding-bottom: 50px;
}

.main__title {
  padding: 150px 0 100px;
  font-weight: 400;
  text-align: center;
}

.main__article {
  display: flex;
  align-items: center;
}

.main__article__preview {
  position: relative;
  margin-bottom: 20px;
}

.main__article__preview:last-child {
  margin-bottom: 50px;
}

.main__article__photo {
  width: 100%;
  height: auto;
}

.main__acticle__description {
  width: 25%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}

.main__article__location {
  position: absolute;
  bottom: 0;
  left: 3%;
  color: #fff;
}

.main__article__likes {
  position: absolute;
  top: 5%;
  right: 2%;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
}

/* Subscription
======================== */

.subscription {
  display: flex;
  align-items: center;
  padding: 45px 15px;
  width: 100%;
  background-color: #ffffff;
}

.subscription__text {
  font-size: 24px;
  margin-right: 15px;
}

.form {
  width: 80%;
}

.subscription__input {
  width: 80%;
  padding: 15px 10px;
  background-color: #f3f3f3;
  border: 1px solid black;
}

.subscription__button {
  width: 19%;
  padding: 16px 10px;
  background-color: #343638;
  color: #fff;
  margin-left: -5px;
  border: none;
  cursor: pointer;
}

/* Footer
======================== */

.footer {
  padding-top: 100px;
  color: #b4b4b4;
}

.footer__info {
  display: flex;
  padding-bottom: 100px;
}

.footer__info-block {
  width: 25%;
  margin-right: 20px;
}

.footer__info-block:last-child {
  margin-right: 0;
}

.footer__info__title {
  color: black;
}

.footer__info__subtitle {
  font-size: 14px;
}

.footer__info-block-2 {
  font-style: italic;
}

.footer__info-block-2 .footer__info__title,
.footer__info-block-2 span {
  font-style: normal;
}

.footer__info-block-2 span {
  opacity: 0.2;
  font-size: 14px;
}

.footer__info-block form {
  margin-top: -10px;
  display: flex;
}

.footer__input {
  width: 80%;
  padding: 10px 5px;
  background-color: #f3f3f3;
  border: 1px solid black;
}

.footer__button {
  display: block;
  width: auto;

  background-color: #343638;
  color: #fff;
  border: none;
  cursor: pointer;
}

.horizontal_line {
  border-top: 3px solid #f3f3f3;
  margin-bottom: 10px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footer__nav__link {
  text-decoration: none;
  color: black;
  margin-left: 22px;
}
