﻿* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header-img {
  height: 500px;
}

.hr {
  display: inline-block;
  width: 50px;
  background-color: gray;
  height: 3px;
  border-radius: 3px;
}

.btn-touch {
  background: linear-gradient(#5d417f, #4a50a8);
}

.img-work {
  width: 95%;
  padding-bottom: 15%;
}

.works {
  background: #ebebeb;
}

.references .hr {
  width: 120px;
}

.main {
  width: 400px;
  height: 400px;
  position: relative;
}

.ref-img {
  width: 95%;
  position: absolute;
  top: 0;
  right:0;
  z-index: 100;
  
}

.ref_img_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.circle-1 {
  background: #62436F;
  width: 20px;
  height: 20px;
  border-radius:50%;
}

.circle-2 {
  margin: 0 10px;
  background: #C0B4C5;
  width: 20px;
  height: 20px;
  border-radius:50%;
}


.contact {
  background: #000000;
}

input {
  background: #000000;
  padding-left: 15px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 3px solid white;
  border-radius: 3px;
}

footer {
  background: url('../img/footer-bg.jpg');
}