/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px 0 20px;
}

/* Header
======================== */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: white;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__link {
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #363636;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s;
}

.nav__link:hover {
  color: #0078aa;
}

/* Intro
======================== */

.intro {
  background: url(../img/header_bg.jpg) no-repeat center / cover;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner {
  padding-top: 100px;
  width: 60%;
}

.intro__title {
  font-size: 45px;
}

.intro__title span {
  display: block;
}

.intro__subtitle {
  width: 70%;
  margin: 20px 0;
  color: #c0aeae;
  font-size: 16px;
  font-weight: 400;
}

.intro__icons {
  display: flex;
  transition: all 0.5s;
}

.icon__container {
  width: 43px;
  height: 43px;
  background-color: #0078aa;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
  transition: all 0.5s;
}

.icon__container:hover {
  background-color: white;
  border: 1px solid #0078aa;
}

.icon__container:hover .intro__icon {
  color: #0078aa;
}

.intro__icon {
  font-size: 28px;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Tools
======================== */

.tools {
  margin: 50px 0;
}

.tools__inner {
  display: flex;
  align-items: center;
  height: auto;
}

.tools__img {
  width: 52%;
  object-fit: cover;
}

.tools__info {
  width: 400px;
  text-align: left;
}

.tools__title {
  font-size: 34px;
}

.tools__subtitle {
  text-transform: uppercase;
  color: #0078aa;
}

.tools__proposal {
  font-size: 16px;
}

.tools__proposal span {
  color: #0078aa;
}

.tools__proposal__text {
  font-size: 14px;
}

/* Services
======================== */

.services {
  background: url(../img/services_bg.jpg);
  padding-bottom: 50px;
}

.services__title {
  padding-top: 50px;
  font-size: 30px;
}

.services__subtitle {
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 0 20px;
  font-size: 14px;
}

.services__title,
.services__subtitle {
  text-align: center;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  padding-left: 10px;
  margin: 10px 10px;
  background-color: #fff;
  width: 30.33%;
}

/* Offers
======================== */

.offers {
  background: url(../img/pricing_bg.jpg) no-repeat center/ cover;

  padding-bottom: 50px;
  display: flex;
}

.offers__title,
.offers__subtitle {
  text-align: center;
}

.offers__title {
  padding-top: 50px;
  font-size: 30px;
}

.offers__subtitle {
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 0 20px;
  font-size: 14px;
}

.offers__cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.offers__card {
  width: 33.33%;
  background-color: #47c9e5;

  color: #fff;
  text-align: center;
}

.offers__list {
  padding: 0;
}

.offers__list li {
  list-style: none;
  font-size: 13px;
  opacity: 0.8;
  padding-bottom: 20px;
}

.offers__list li:first-child {
  font-style: italic;
  padding-bottom: 25px;
}

.card__title {
  padding: 40px 0 10px;
}

.card__price {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: -10px;
}

.symbol {
  font-weight: 700;
  font-size: 24px;
}

.offers__card-big {
  transform: scale(1.1);
  background: #fff;
  color: #0078aa;
  border: 1px solid #0078aa;
}

.btn {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #0078aa;

  cursor: pointer;
  margin-bottom: 40px;
  font-weight: 700;
}

.btn--white {
  background-color: #fff;
  color: #0078aa;
  transition: all 0.3s;
}

.btn--white:hover {
  background-color: #0078aa;
  color: #fff;
}

/* Appointment
======================== */

.appointment {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  display: block;
  border: none;
  color: grey;
  border-bottom: 1px solid lightgrey;
  font-style: italic;
  padding: 20px 0 5px;
}

form input:active {
  border: none;
}

.appointment__left {
  width: 50%;
  object-fit: cover;

  margin-right: 50px;
}

.appointment__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.appointment__title {
  font-size: 40px;
  text-align: center;
}

.appointment__subtitle {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.date {
  font-weight: 700;
  color: black;
}

.btn--blue {
  margin-top: 20px;
  background-color: #0078aa;
  color: #fff;
  width: 100px;
  transition: all 0.3s;
}

.btn--blue:hover {
  background-color: #fff;
  color: #0078aa;
}

.footer {
  padding: 12px 0;
  background-color: #363636;
  color: #fff;
  width: 100%;
  text-align: center;
}

.container__button-up {
  width: 50px;
  height: 50px;
  background-color: #0078aa;
  border-radius: 50%;
  position: fixed;
  right: 2%;
  bottom: 3%;
  margin-right: 15px;
  transition: all 0.5s;
  z-index: 1000;
}

.button-up a {
  font-size: 28px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}









@media only screen and (max-width: 768px) {
  .header__inner {
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .intro__icons,
  .icon__container,
  .intro__subtitle {
    display: inline-block;
  }

  .intro__inner {
    margin: 0 auto;
    text-align: center;
  }

  .intro__subtitle {
    width: 100%;
  }

  .tools__inner {
    flex-direction: column;
  }

  .tools__inner * {
    text-align: center;
    width: 100%;
  }

  .services__inner {
    flex-direction: column;
  }

  .service__item {
    width: 100%;
    padding-left: 0;
    margin: 10px 0;
  }

  .offers__cards {
    flex-direction: column;
  }

  .offers__card {
    width: 100%;
  }

  .offers__card-big {
    transform: scale(1);
  }

  .appointment {
    flex-direction: column;
  }

  .appointment * {
    width: 100%;
  }
  .appointment__right {
    
    padding: 0 50px;
  }

  .appointment__title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px){
  .intro__title {
    font-size: 40px;
  }
}
