/* START: Task 1 Styles */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  margin-top: 50px;
  background-color: white;
  text-align: center;
}
td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  padding: 20px 20px;
}

.bg_yellow {
  background: yellow;
  z-index: 3;
}

.bg_blue {
  background: blue;
  z-index: 2;
}

.bg_green {
  background: green;
  z-index: 1;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

form {
  margin-top: 250px;
}

input {
  width: 300px;
  padding: 10px 0;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}

button {
  padding: 10px 19px;
  border-radius: 0;
  border: 1px solid black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.label {
  display: none;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: red;
  color: white;
  padding: 17px 10px;
}

.success {
  display: none;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: green;
  color: white;
  padding: 12px 10px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */

#container {
  position: relative;
}

#court {
  width: 600px;
  height: 330px;
}

#ball {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 47%;
  transition: all 1s;
}

.hook1 {
  position: absolute;
  top: 46.6%;
  left: 5%;
  width: 15px;
  height: 15px;
}

.hook2 {
  position: absolute;
  top: 46.6%;
  right: 5%;
  width: 15px;
  height: 15px;

}

.scores {
  display: flex;
  justify-content: space-between;
}

.notification {
  text-align: center;
}
/* END: Task 3 Styles */
