body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.header {
  background: url("../img/m-h-day.jpg") center no-repeat;
  height: 700px;
  background-size: cover;
  border-bottom-right-radius: 330px; }
  .header-wrap {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto; }
    .header-wrap .landing-logo {
      display: flex;
      align-items: center; }
      .header-wrap .landing-logo p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        padding-left: 10px;
        color: #2c2f3c;
        font-weight: 600; }
        .header-wrap .landing-logo p span {
          font-size: 11px;
          padding-left: 10px; }
    .header-wrap .header_heading, .header-wrap .header_heading::after {
      z-index: 100000;
      position: relative;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      color: #2c2f3c;
      line-height: 55px;
      font-size: 60px;
      width: 500px; }
      .header-wrap .header_heading::after {
        content: "";
        background-color: #14a0c7;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 250px;
        height: 50px; }
    .header-wrap .header_text {
      color: #2c2f3c;
      line-height: 20px;
      width: 520px; }
    .header-wrap div:last-child {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px; }
      .header-wrap div:last-child .header_button {
        padding: 10px 30px;
        border: none;
        border-radius: 3px;
        color: white;
        background-color: #699900; }
      .header-wrap div:last-child .login {
        color: #fff; }

.section, .section .section_text {
  color: #BCC0C7; }
  .section .section_text {
    position: relative;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    margin: 30px auto;
    font-size: 32px;
    text-align: center;
    color: #2c2f3c; }
    .section .section_text::after {
      content: "";
      background-color: #14a0c7;
      position: absolute;
      z-index: -1;
      left: 50.5%;
      top: 0;
      width: 150px;
      height: 40px; }
  .section .section_card_wrap {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto; }
    .section .section_card_wrap .section_card {
      display: flex;
      padding: 20px;
      border-radius: 3px;
      background-color: #21232E; }
      .section .section_card_wrap .section_card:not(:last-child) {
        margin-bottom: 20px; }
      .section .section_card_wrap .section_card .section_card_img {
        width: 300px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        width: 50%;
        padding-left: 50px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          text-align: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          display: block;
          color: inherit;
          text-align: center; }
  .section .section_banner {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 53vw;
    margin: 0 auto;
    background: linear-gradient(90deg, #629216, #2c5ad9);
    border-radius: 3px;
    margin-top: 100px; }
    .section .section_banner .section_banner_heading {
      z-index: 1000;
      position: relative;
      font-size: 24px;
      font-weight: 700;
      font-family: "Hind", sans-serif;
      color: #2c2f3c; }
      .section .section_banner .section_banner_heading::after {
        content: "";
        background-color: #14a0c7;
        position: absolute;
        z-index: -1;
        left: 31%;
        top: 13%;
        width: 45px;
        height: 30px; }
    .section .section_banner .section_banner_text {
      margin-top: -20px; }
    .section .section_banner .section_banner_button {
      padding: 10px 30px;
      border: none;
      border-radius: 3px;
      color: white;
      background-color: #699900; }

.footer {
  position: absolute;
  margin-top: -50px;
  z-index: -1;
  width: 100%;
  height: 170px;
  background-color: #21232E;
  color: #BCC0C7; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px; }
  .footer .footer_logo {
    display: flex;
    align-items: center; }
    .footer .footer_logo p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      padding-left: 10px;
      color: #BCC0C7;
      font-weight: 600; }
      .footer .footer_logo p span {
        font-size: 11px;
        padding-left: 10px; }
  .footer .footer_text {
    width: 300px; }
