.container {
  width: 700px;
  margin: 0 auto;
}

form {
  display: none;
  border: 1px solid black;
  padding: 15px;
  padding-right: 35px;
}

form * {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

.button__container {
  display: flex;
}

.form-control {
  background-color: #3aba8b;
  padding: 9px 10px;
  border: none;
}

.btn {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  border: none;
  background-color: #4bae4f;
  color: white;
  border-radius: 0;
  padding: 10px 20px;
}
