* {
  box-sizing: border-box;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
  color: rgb(41, 33, 33);
}
.backgroundBlue {
  background-color: #76CDD8;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.btn {
  border-radius: 0;
  border: none;
  padding: 10px 25px;
  background-color: #019999;
  text-transform: uppercase;
  color: white;
  margin-top: 15px;
}

.btn:hover {
  background-color: rgb(118, 205, 216);
}


.container {
  margin: 0 auto;
  width: 80%;
}

.blocks {
  
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

h1 {
  color: white;
  font-size: 55px;

}

.block {
  min-height: 300px;
  height: auto;
  width: 50%;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
}

.block-2 {
  position:relative;
  font-style: italic;
  line-height: 30px;
}

.block-2:hover::after {
  position: absolute;
  top: 0;
  right: 0;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #76cdd8 transparent transparent;
}

.block-2, .block-3, .block-6 {
  padding: 0 30px;
}

.block-3{
  position: relative;
}

.block-3, .product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-3:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #76cdd8 transparent transparent transparent;
}

.block-3 .title {
  color: #76CDD8;
}

.block-3 .subtitle {
  font-size: 15px;
}

.btn-1, .btn-3 {
  float: right;
  margin-bottom: 10px;
}

.game_img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-fit: cover;
  
}
.block-5 {
  position: relative;
}

.image_description {
  position: absolute;
  top: 20%;
  left: 30%;
  display:inline-block;
  padding: 2px;
  color: white;
  font-size: 11px;
  background-color:rgb(83, 67, 67);

  visibility: hidden;
  opacity: 0;
  z-index: 0;

  transition: opacity .2s, visibility .2s;
}

.transaction_img:hover {
  transform: scale(1.1)
}

.block-5:hover .image_description {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.img_description {
  color: white;
  font-size: 12px;
  margin-top: 15px;
}

.block-6 {
  position: relative;
}

.block-6:hover::after {
  position: absolute;
  top: 0;
  right: 0;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #76cdd8 transparent transparent;
}


.block-6 .subtitle{
  font-size: 15px;
}

img:not(.game_img) {
  width: 100%;
  min-width: 250px;
}


.product {
  margin-top: 30px;
  display: flex;
  background-color: white;
}

.product__info {
  padding: 30px;
}

.product__title {
  color: #76CDD8;
}

.product__paragraph {
  font-size: 15px;
  text-align: left;
}

.product__img:hover img {
  transform: scale(1.1);
}


/* Plans */

.plans {
  margin-top: 30px;
  background-color:white;
  display: flex;

}

.plans__item {
  width: 33%;
}

.plans__img img{
  height: 100%;

  
  width: 100%;
}

.plans__item {
  border: 1px solid #019999;
  margin: 25px 0 25px 25px;
  position: relative;
}

.plans__item:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.1);
}

.discount {
  color: #24d4d4;
  font-size: 12px;
  opacity: 0;
}

.plans__item:last-child:hover .discount {
  opacity: 1;
}

.plans__item:last-child {
  margin-right: 25px;
}

.plans__item__logo {
  background-color:#019999;
  color: white;
  text-align: center;
}

.plans__title {
  padding-top: 10px;
}

.plans__price {
  margin-top: 5px;
  font-size: 15px;
  padding-bottom: 10px;
}

.container-2 {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);

  text-align: center;
}



.container-2 .btn {
  padding: 10px 40px;
}
.plans__proposals {
  padding: 0;
  list-style: none;
  font-size: 15px;
}

.plans__proposals li{
  margin-bottom: 10px;
}


.application_form {
  margin-top: 30px;
  position: relative;
}

.application_form_top {
  height: 130px;
  background-color: #23D4D4;
  color:white;
  padding: 30px 0 0 100px;
  font-size: 24px;
}

.form {
  padding: 50px;
  width: 80%;
  height: 450px;
  background-color: white;

  position: absolute;
  top: 10%;
  left: 10%;

  
}

.form__inner {
  display: flex;
  justify-content: center;
}

.form__inner * {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.form__inner *:focus{
  border-color: #24d4d4; box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__inner {
  margin-right: 30px;
}

.submit {
  margin-left: 42%;
  padding: 10px 40px;
}





.application_form_bottom {
  margin-top: 350px;
  height: 260px;
  background-color: #019999;
  color:white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.application_form_bottom p {
 
  margin:0;
  font-size: 14px;
}

.col-1 p:first-child {
  font-size: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}