#app-root {
    margin: 30px auto;
    width: 90%;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.radios {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.align-horizontal {
    margin-top: 10px;
}

.table {
    margin: 30px auto;
    width: 100%;
}

th {
    background-color: rgb(57, 136, 57);
    padding: 5px;
    color: white;
}

span {
    color: yellow;
}