$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 700,
);

@mixin button {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: $button-color;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $backgound-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  background: $backgound-img;
  height: 700px;
  background-size: cover;
  border-bottom-right-radius: 330px;
  &-wrap {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;

    .landing-logo {
      display: flex;
      align-items: center;

      p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        padding-left: 10px;
        color: $color-primary;
        font-weight: map-get($font-weights, "medium");

        span {
          font-size: 11px;
          padding-left: 10px;
        }
      }
    }

    .header_heading {
      z-index: 100000;
      position: relative;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      color: $color-primary;
      line-height: 55px;
      font-size: 60px;
      width: 500px;

      &::after {
        @extend .header_heading;
        content: "";
        background-color: $hightlight-text;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 250px;
        height: 50px;
      }
    }

    .header_text {
      color: $color-primary;
      line-height: 20px;
      width: 520px;
    }

    div:last-child {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;

      .header_button {
        @include button;
      }

      .login {
        color: $color-white;
      }
    }
  }
}

.section {
  color: $color-secondary;

  .section_text {
    position: relative;
    font-family: "Hind", sans-serif;
    font-weight: map-get($font-weights, "medium");
    margin: 30px auto;
    font-size: 32px;
    text-align: center;
    @extend .section;
    color: $color-primary;

    &::after {
      content: "";
      background-color: $hightlight-text;
      position: absolute;
      z-index: -1;
      left: 50.5%;
      top: 0;
      width: 150px;
      height: 40px;
    }
  }

  .section_card_wrap {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;

    .section_card {
      display: flex;
      padding: 20px;

      border-radius: 3px;
      background-color: $primary-background-color;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .section_card_img {
        width: 300px;
      }

      .section_card_right_container {
        width: 50%;
        padding-left: 50px;

        .section_card_heading {
          font-family: "Source Sans Pro", sans-serif;
          color: $color-white;
          font-size: 18px;
          font-weight: map-get($font-weights, "medium");
          text-align: center;
        }

        .section_card_text {
          font-family: "Hind", sans-serif;
        }

        .section_link {
          display: block;
          color: inherit;
          text-align: center;
        }
      }
    }
  }

  .section_banner {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 53vw;
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      $gradient-light-color,
      $gradient-dark-color
    );
    border-radius: 3px;
    margin-top: 100px;

    .section_banner_heading {
      z-index: 1000;
      position: relative;
      font-size: 24px;
      font-weight: 700;
      font-family: "Hind", sans-serif;
      color: $color-primary;

      &::after {
        content: "";
        background-color: $hightlight-text;
        position: absolute;
        z-index: -1;
        left: 31%;
        top: 13%;
        width: 45px;
        height: 30px;
      }
    }

    .section_banner_text {
      margin-top: -20px;
    }

    .section_banner_button {
      @include button;
    }
  }
}

.footer {
  position: absolute;
  margin-top: -50px;
  z-index: -1;
  width: 100%;
  height: 170px;
  background-color: $primary-background-color;
  color: $color-secondary;

  .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
  }

  .footer_logo {
    display: flex;
    align-items: center;

    p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      padding-left: 10px;
      color: $color-secondary;
      font-weight: map-get($font-weights, "medium");

      span {
        font-size: 11px;
        padding-left: 10px;
      }
    }
  }

  .footer_text {
    width: 300px;
  }
}
