
$backgound-content: #21232E;
$backgound-img: url("../img/m-h-night.jpg") center no-repeat;

$hightlight-text: #FF4E33;
$button-color: #E3AC00;
$primary-background-color: #3B3F50;

$gradient-light-color: #E1AA01;
$gradient-dark-color: #922C52;

$color-primary: #FFFFFF;

$color-white: #fff;
$color-secondary: #BCC0C7;