$backgound-content: #FFFFFF;
$backgound-img: url("../img/m-h-day.jpg") center no-repeat;

$hightlight-text: #14a0c7;
$button-color: #699900;
$primary-background-color: #21232E;

$gradient-light-color: #629216;
$gradient-dark-color: #2c5ad9;

$color-primary: #2c2f3c;

$color-white: #fff;
$color-secondary: #BCC0C7;

