@media print {
  .tm-sidebar,
  .boxes,
  .blocks,
  .ideas,
  .carousel,
  .heading,
  .img-fluid,
  #contact,
  ::after,
  ::before {
    display: none;
  }

  .flex-item img {
    width: 200px;
    float: right;
  }

  .container {
    width: 80%;
  }

  .tm-banner {
    border: 0px !important;
    padding: 0;
  }

  .tm-section-title {
    margin-left: -30px;
    margin-top: -30px;
  }

  .tm-team-description-container {
    text-indent: 1.5rem;
  }

  .tm-section-description:nth-child(3) {
    font-style: normal;
    margin-bottom: 0;
  }

  .tm-section-description:nth-child(2) {
    font-style: italic;
  }

  .tm-section-description::first-letter {
    color: green;
    font-size: 30px;
  }

  .tm-content-box {
    box-shadow:none;
  }

  .tm-footer::first-letter {
    color: green;
    font-size: 30px;
  }

  .tm-footer {
    margin-left: 30px;
    margin-top: -100px;
  }
}

.tm-content-box.flex-2-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.tm-box-bg-title:hover {
  background-color: #87cefa;
  color: white;
}

p::first-letter {
  color: #87cefa;
  font-size: 30px;
}

.tm-banner {
  border: 30px solid #f5f5f5;
  padding: 0;
}

nav,
.tm-content-box {
  box-shadow: 0 0 10px rgba(143, 130, 130, 0.8);
}

section::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 250px 0 0;
  border-color: #87cefa transparent transparent transparent;
}

.carousel-content .flex-item .tm-section-title {
  letter-spacing: 5px;
  color: gainsboro;
}

h2 + p {
  font-style: italic;
}

.tm-team-description-container {
  text-indent: 1.5rem;
}


.tm-team-description-container .tm-section-title {
  margin-left: -25px;
}

.heading a:visited {
  text-decoration: underline;
}

.heading a:hover {
  text-decoration: none !important;
  color: black !important;
}

.heading li:nth-child(4) a {
  color: #87cefa;
  text-decoration: underline double #87cefa;
}

.heading li .text::after {
  content: "New";
  color: red;
  font-size: 12px;
  position: relative;
  top: -0.5em;
}

.boxes .box-work {
  padding: 10px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.gallery-container .box p::first-letter {
  color: black;
}

.gallery-container .box:nth-of-type(2n - 1) {
  background-color: white;
}

.mandatory-field::after {
  content: "*";
  color: red;
}

form[class="contact-form"] button[type="submit"] {
  width: 175px;
  height: 60px;
  font-size: 1.3em;
  color: lightskyblue;
  background-color: #fff;
  border: 1px solid lightskyblue;
  float: right;
  border-radius: 0;
}
form[class="contact-form"] button[type="submit"]:hover {
  color: #fff;
  background-color: lightskyblue;
  
}

.tm-nav-item:hover {
  background-color: #f5f5f5;
}