#root {
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.addTweet {
    margin-left: 55px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 4px 0;
    width: 80px;
}

.hidden {
    display: none;
}