:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  margin: 0;
}



html {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
}

.header {
  margin: 0 auto;
  width: calc(100% - 20px);
  padding: 30px 0;
  text-align: center;
  box-shadow: 1px 1px 7px 1px rgb(151, 147, 147);
  border-radius: 3px;
}

.header__subheading {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 18px;
}

.header__image {
  width: 130px;
}


main {
  display: table-cell;
}
.content {
  display: table;
  margin: 10px 0;

  border-spacing: 10px 0
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 10px;
  grid-auto-flow: dense;

  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 1px rgb(151, 147, 147);
}

.container img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}


.small {
  grid-row: span 11;
}

.medium {
  grid-row: span 13;
}

.big{
  grid-row: span 16;
}

.large {
  grid-row: span 24;
}

.aside_container {
  position: sticky;
  top: 0;
  right: 0;
}

.aside {
  margin-top: 10px;
  display: table-cell;
  
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 1px rgb(151, 147, 147);
  width: 34%;
 
  text-align: center;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.aside__main-heading {
  font-size: 24px;
}

.aside__subheading {
  font-family: var(--primary-font);
}

.aside__info {
  padding: 0 15px;
  font-size: 18px;
  margin-bottom: 0px;
  font-family: var(--primary-font);
}

.icons {
  margin: 20px 0;
}




.footer {
  margin: 0 auto;
  width: calc(100% - 20px);
  padding: 30px 0 10px;
  text-align: center;
  box-shadow: 1px 1px 7px 1px rgb(151, 147, 147);
  border-radius: 3px;

  font-size: 14px;
  
}

.footer__subheading {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 13px;
}

.footer__image {
  width: 90px;
}

.footer p {
  margin-top: 0;
  font-family: var(--primary-font);
  font-size: 22px;
}


@media screen and (max-width: 1180px) {
  .container {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }
}

@media screen and (max-width: 850px) {
  .aside {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 530px) {
  .container {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
  }
}